body {font-family:Verdana, Arial,sans-serif;
      font-size:1.0em; }
.container {width:75%;}
h2 {background-color:#DDDDDD;
    font-family:Verdana, Arial,sans-serif;
	font-size:1.4em;
	padding:10px 15px;
	border-bottom-style:groove;
	border-left-style:groove;
	border-top-style:none;
	border-right-style:none;
	border-color:#9999FF;
	border-width:medium}
h3 {font-family:Verdana, Arial,sans-serif;
    font-weight:bold;
    font-size:1.3em;
	color:navy;
	font-variant:small-caps;
	/*text-decoration:overline;*/
	border-top: solid thin;
	letter-spacing:10px}
td.highlight {background-color:#FFFF99;
			  line-height:20px;
			  font-family:Verdana,Arial,sans-serif;
			  font-size:1.1em;
			  font-weight:bold;
			  padding:10px 15px;}
table.highlight {background-color:#FFFF99;
				 padding: 0px 15px;
				 border-style:solid;
				 border-width:thin;
				 border-color:#CCCCCC;
				 font-family:Verdana,Arial,sans-serif;
				 font-size:1.1em}
div.highlight {
	background-color:#FFFF99;
	 padding: 0px 15px;
	 border-style:solid;
	 border-width:thin;
	 border-color:#CCCCCC;
	 font-family:Verdana,Arial,sans-serif;
	 font-size:1.1em;
	 margin: 7px 3px;
}
td {font-family:Verdana,Arial,sans-serif;
    font-size:1.1em}
th {font-family:Verdana,Arial,sans-serif;
    font-size:1.1em}
pre {font-family: "Courier New",Courier,monospace;
	 font-weight:bold;
	 font-size:1.2em}
.code {font-family: "Courier New",Courier,monospace;
	   font-size:1.2em;
	   font-weight:bold;
	   white-space: pre;}
.def {font-family:Verdana,Arial,sans-serif;
		  font-size:1.1em;
		  padding-left:5px;
		  padding-right:5px;
		  border-top-style:none;
		  border-bottom-style:none;
		  border-left-style:double;
		  border-right-style:none;
		  border-width:thin;
		  border-color:#666699}
.puzzle {font-family:Verdana,Arial,sans-serif;
         font-size:14px;
		 padding: 15px 10px;
		 border-top-style:solid;
		 border-left-style:none;
		 border-bottom-style:solid;
		 border-right-style:none;
		 border-width:medium;
		 border-color:#666699;
		 background-color:#D6F2F3;
		 margin: 7px 3px;}
.box {font-family:Verdana,Arial,sans-serif;
	  padding:10px;
	  border-style:double;
	  border-width:medium; 
	  border-color:#666699;
	  background-color:#FFFFCC;}
.lowlight {color:#444444}
h4 { font-family:Verdana,Arial,sans-serif;
     font-size:1.1em;
	 font-style:italic;
	 padding-left:5px;
	 padding-top:5px;
	 background-color:#FFFFCC}
a:link {color: #3300CC}
a:visited {color: #990099}
a:hover {color: #3300CC;
         background: #FFFF00}
a:active {color: #CC0000;
          background: #FFFF00}
a:hover.nohighlight {background: #FFFFFF;}

p {font-family: Verdana,Arial, sans-serif;}
li.item {font-family: Verdana,Arial, sans-serif;
	list-style-image:url(images/dash.jpg);
	list-style-position:outside;
	margin-left: 30px}

ul.outer{list-style-image:url(images/bullet.jpg);
    list-style-position:outside;
	font-family:Verdana,Arial,sans-serif;}
ul.inner{list-style-image:url(images/dash.jpg);
		 list-style-position:outside;
		 font-family:Verdana,Arial,sans-serif;}
.bottomSpacer {margin-bottom: 20px;}
img.inList {padding: 20px 10px; clear: both; float: none;}

ol {font-family: Verdana,Arial, sans-serif;
	list-style-position:outside;}
ol > li {padding: 3px 0px;}
.errText {
	font-weight: bold;
	font-size:1.1em;
	color: red;
}
hr {color:#CC0066}

.notop {text-decoration: overline;}
	
/* styles used for drop-down menus */

#dropmenudiv{
position:absolute;
border:1px solid black;
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
}

#dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
}

#dropmenudiv a:hover{ /*hover background color*/
background-color: yellow;
}